@import '_variables.scss';
@import '_fonts.scss';

@mixin list-decoration(){
    list-style: none;
    padding: 0;
    margin: 0;
}

/* SHORTCUTS TO FIT WIDTH & HEIGHTS
--------------------------------------------------*/ 

@mixin fit-parent(){
    width: 100%;
    height: 100%;
}

// images
@mixin fit-image($objectfit){
    @include fit-parent();
    object-fit: $objectfit;
}

// margin 
@mixin margin-auto {
    margin: { 
        left: auto;
        right: auto;
    }
}





/* DEVICE SPECIFIC STYLES
--------------------------------------------------*/

@mixin mediaQuery($maxwidth) {
    @media (max-width: $maxwidth) {
      @content;
      // FX width: 100%; - kan være hvilken som helst property
    }
  }

//   SÅDAN HER SKAL mediaQuery SKRIVES IND I STYLE DEKLARATIONEN
// de 600px kan med fordel byttes ud med en variabel
// @include mediaQuery(600px){
//     width: 100%; - kan være hvilken som helst property
// }