/* -------------------------------------------------
    VARIABLER
----------------------------------------------------*/


$base-color: #FCFAE3; 
$theme-color: #1f232c;
// $theme-color: #2f3542;

$dark-grey: #444751;
$darker-grey: #7A7C86;
$medium-grey: #A1A2AA;
$lighter-grey: #D2D8B3;

$white-smoke: #f5f5f5;
$honeydew: #F1FAEE;
$light-yellow: #FAF8D4;
$silver: #d4d4dc;


$yellow: #feda6a;


$maxwidth: 600px;



